# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
myvenv
.virtalenv/
virtualenv/
*.egg-info/

# PyInstaller
dist/
build/
.idea/
# Logs
*.log

# OS-specific files
.Thumbs.db
.DS_Store

# Other
*.pid
